<div class="cultureDetailGrid">
  <div class="picId">
    <div class="image">
      <img class="mainImage" src="../../../assets/buch.jpg">
    </div>
    <div class="cultureId">{{data.id}}</div>
  </div>
  <div class="nameDesc">
    <div class="cultureName">{{data.name}}</div>
    <div class="cultureDesc"><p>{{data.desc}}</p></div>
  </div>
  <div class="cultureInfo">
    <div class="cultureFam">{{data.family}}</div>
    <div class="cultureType">{{data.type}}</div>
    <div class="environment">
      <p>Bioregion: {{data.environment.bioregion}}</p>
      <p>Subregion: {{data.environment.subregion}}</p>
      <p>Local environment: {{data.environment.localEnvironment}}</p>
    </div>
  </div>
  <div class="genes">
    <div class="parentCulture">PARENTCULTURE</div>
    <div class="childCultures">CHILDCULTURES</div>
  </div>
  <div class="reviews">
    <div class="review" *ngFor="let review of reviews">
      <div class="user">{{review.user}}</div>
      <div class="reviewDesc">{{review.review}}</div>
      <div class="reviewDate">{{review.date | date}}</div>
      <div class="reviewRating">{{review.rating}}</div>
    </div>
  </div>
</div>
